{% extends 'base.html' %}


{% block title %}Home{% endblock title %}


{% block content %}
{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>
<p><a href="{% url 'logout' %}">Log out</a></p>
<a href="{% url 'worker_list' %}">
    <p>Workers</p>
</a>
<a href="{% url 'services_list' %}">
    <p>Services</p>
</a>
{% else %}
<a href="{% url 'login' %}">
    <p>Log In</p>
</a>
<a href="{% url 'signup' %}">
    <p>Sign Up as a client</p>
</a>
<a href="{% url 'company_signup' %}">
    <p>Sign Up as a company</p>
</a>

{% endif %}
{% endblock content %}