{% extends 'base.html' %}
{% block title %}Services{% endblock title %}
{% block content %}
{% for service in object_list %}
<div class="card">
    <div class="card-header">
        <a href="{% url 'service_detail' service.pk %}"><span class="font-weight-bold">{{ service.title }}</span></a>
        &middot;
        <span class="text-muted">by {{ service.author }} |
        </span>
    </div>
    <div class="card-body">
        <p>{{ service.body }}|стоимость:{{ service.cost }} руб</p>
        <div>
            <a href="{% url 'service_edit' service.pk %}">Edit</a> |
            <a href="{% url 'service_delete' service.pk %}">Delete</a>
        </div>
    </div>
    <div class="card-footer">
        {% for comment in service.comments.all %}
        <p>
            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
            {{ comment }}
        </p>
        {% endfor %}
    </div>
</div>
<br />
{% endfor %}
{% endblock content %}